                                /* Start main rules*/
                                
                                .container {
                                    width: 1170px;
                                    margin: auto;
                                }
                                
                                @media (min-width: 576px) {
                                    .container {
                                        background-size: cover;
                                        -webkit-background-size: cover;
                                        -moz-background-size: cover;
                                        -o-background-size: cover;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                
                                .clearfix {
                                    clear: both;
                                }
                                /* End main rules*/
                                /* Start Header */
                                
                                .header .slider {
                                    background-image: url("../images/slider.jpg");
                                    background-size: cover;
                                    -webkit-background-size: cover;
                                    -moz-background-size: cover;
                                    -o-background-size: cover;
                                    background-color: #EEE;
                                    height: 600px;
                                }
                                
                                @media (min-width: 576px) {
                                    .header .slider {
                                        background-size: cover;
                                        -webkit-background-size: cover;
                                        -moz-background-size: cover;
                                        -o-background-size: cover;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                
                                .header .slider .intro {
                                    padding-top: 200px;
                                    height: 600px;
                                    text-align: center;
                                    color: #FFF;
                                }
                                
                                .header .slider .intro h2 {
                                    margin: 0 auto;
                                    font-size: 50px;
                                    width: 600px;
                                    border-top: 4px solid #FFF;
                                    border-bottom: 4px solid #FFF;
                                    padding: 5px 0;
                                }
                                
                                .header .slider .intro button {
                                    background: none;
                                    margin-top: 30px;
                                    font-size: 20px;
                                    border: 2px solid #FFF;
                                    font-weight: bold;
                                    padding: 10px 30px;
                                }
                                
                                .header .navbar {
                                    background-color: #252F31;
                                    color: #FFF;
                                    overflow: hidden;
                                }
                                
                                .header .navbar h2 {
                                    float: left;
                                }
                                
                                .header .navbar h2 span {
                                    color: #2ecc71
                                }
                                
                                .header .navbar ul {
                                    list-style: none;
                                    padding-left: 0;
                                    overflow: hidden;
                                    float: right;
                                }
                                
                                .header .navbar ul li {
                                    float: left;
                                    padding: 10px;
                                }
                                
                                .header .navbar ul li a {
                                    color: #FFF;
                                    text-decoration: none;
                                }
                                
                                .header .navbar ul li.active a,
                                .header .navbar ul li a:hover {
                                    color: #30B576;
                                }
                                /* End header */
                                /* Start features */
                                
                                .features {
                                    overflow: hidden;
                                    padding-top: 40px;
                                    padding-bottom: 50px;
                                }
                                
                                .features .feat {
                                    float: left;
                                    width: 33.33333%;
                                    height: 150px;
                                }
                                
                                .features .feat h2 {
                                    color: #555;
                                }
                                
                                .features .feat p {
                                    line-height: 1.7;
                                    color: #888;
                                    padding: 0 20px 0 0;
                                }
                                /* End Features */
                                /* Start About Me */
                                
                                .about-me {
                                    background-color: #F2F2F2;
                                    overflow: hidden;
                                }
                                
                                .about-me .image {
                                    float: left;
                                    width: 40%;
                                }
                                
                                .about-me .image img {
                                    width: 100%;
                                }
                                
                                .about-me .info {
                                    float: left;
                                    width: 60%;
                                }
                                
                                .about-me .info h2 {
                                    margin: 25px 0 20px 40px;
                                    color: #555;
                                }
                                
                                .about-me .info>p {
                                    margin: 0 0 10px 40px;
                                }
                                
                                .about-me .info p:last-of-type {
                                    margin: 25px;
                                }
                                
                                .about-me .info p {
                                    line-height: 1.6;
                                    color: #666;
                                    padding: 0 20px 0 0;
                                }
                                
                                .about-me .info .hobbies {
                                    overflow: hidden;
                                    margin: 15px 0 0 40px;
                                }
                                
                                .about-me .info .hobbies .content {
                                    float: left;
                                    width: 50%;
                                    min-height: 100px;
                                    overflow: hidden;
                                }
                                
                                .about-me .info .hobbies .content h3 {
                                    color: #555;
                                }
                                
                                .about-me .info .hobbies .content .icon {
                                    float: left;
                                    width: 10%;
                                }
                                
                                .about-me .info .hobbies .content .icon img {
                                    max-width: 100%;
                                    margin: 55px 1px 0 0;
                                }
                                
                                .about-me .info .hobbies .content .text {
                                    float: left;
                                    width: 90%;
                                }
                                
                                .about-me .info .hobbies .content .text p {
                                    margin-top: 0;
                                }
                                
                                .about-me .info .hobbies .content .text h3 {
                                    margin-bottom: 5px;
                                }
                                /*  End about me*/
                                /* start my skill */
                                
                                .my-skills {
                                    padding-top: 30px;
                                    padding-bottom: 50px;
                                    overflow: hidden;
                                }
                                
                                .my-skills .skills,
                                .my-skills .progress {
                                    width: 50%;
                                    float: left;
                                }
                                
                                .my-skills .skills h2 {
                                    margin: 25px 0 20px 40px;
                                    color: #555;
                                }
                                
                                .my-skills .skills p {
                                    margin: 0 0 10px 40px;
                                    line-height: 1.6;
                                    color: #666;
                                }
                                
                                .my-skills .skill p:last-of-type {
                                    margin: 30px;
                                }
                                
                                .my-skills .skills>p {
                                    line-height: 1.6;
                                    color: #666;
                                    padding: 0 20px 0 0;
                                }
                                
                                .my-skills .skills button {
                                    margin-top: 20px;
                                    margin-left: 40px;
                                }
                                
                                .my-skills .progress .technique {
                                    margin-left: 50px;
                                }
                                
                                .my-skills .progress .technique h3 {
                                    color: #555;
                                }
                                
                                .my-skills .progress .technique div {
                                    background-color: #F2F2F2;
                                    height: 25px;
                                }
                                
                                .my-skills .progress .technique div span {
                                    background-color: #2DCC70;
                                    height: 25PX;
                                    display: block;
                                    line-height: 25px;
                                    text-align: right;
                                    color: #FFF;
                                    font-weight: bold;
                                }
                                /* end my skill */
                                /* Start my resumee */
                                
                                .resumee {
                                    background-color: #F2F2F2;
                                    padding-top: 50px;
                                    padding-bottom: 70px;
                                    text-align: center;
                                }
                                
                                .resumee h2 {
                                    font-weight: bold;
                                    color: #666;
                                }
                                
                                .resumee p {
                                    line-height: 1.7;
                                    color: #666;
                                }
                                
                                .resumee button {
                                    margin-top: 25px;
                                }
                                /* end my resumee */
                                /* start my education*/
                                
                                .my-education {
                                    padding-top: 30px;
                                    padding-bottom: 30px;
                                    overflow: hidden;
                                }
                                
                                .my-education hr {
                                    margin: 20px 0;
                                    background-color: #999;
                                    height: 1px;
                                    border: 0;
                                }
                                
                                .my-education .main {
                                    width: 50%;
                                    margin-right: 5%;
                                    float: left;
                                }
                                
                                .my-education .main h2 {
                                    margin: 25px 0 20px 40px;
                                    color: #555;
                                }
                                
                                .my-education .main p {
                                    margin: 0 0 10px 40px;
                                    line-height: 1.6;
                                    color: #666;
                                }
                                
                                .my-education .main p:last-of-type {
                                    margin: 35px;
                                }
                                
                                .my-education .exp {
                                    width: 45%;
                                    float: left;
                                }
                                
                                .my-education .exp h3 {
                                    margin-top: 80px;
                                    margin-bottom: 10px;
                                }
                                
                                .my-education .exp span {
                                    display: block;
                                    margin-bottom: 10px;
                                }
                                
                                .my-education .exp span:first-of-type {
                                    color: #999;
                                }
                                
                                .my-education .exp span:last-of-type {
                                    background-color: #2DCC70;
                                    color: #FFF;
                                    display: inline-block;
                                    padding: 4px 10px;
                                }
                                
                                .my-education .exp hr {
                                    margin: 20px 0;
                                    background-color: #999;
                                    height: 1px;
                                    border: 0;
                                }
                                
                                .my-education .exp p {
                                    line-height: 1.7;
                                    color: #777;
                                }
                                /* end my education */
                                /* Start my testimonial */
                                
                                .testimonial {
                                    background-color: #F2F2F2;
                                    text-align: center;
                                    padding-top: 50px;
                                    padding-bottom: 50px;
                                }
                                
                                .testimonial q {
                                    line-height: 1.8;
                                    color: #888;
                                    font-size: 18px;
                                    font-style: italic;
                                    font-weight: bold;
                                    font-family: arial 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                }
                                
                                .testimonial h3 {
                                    color: #777;
                                    margin-bottom: 30px;
                                }
                                
                                .testimonial ul {
                                    list-style: none;
                                    padding-left: 0;
                                    text-align: center;
                                }
                                
                                .testimonial ul li {
                                    width: 15px;
                                    height: 15px;
                                    border: 2px solid #2DCC70;
                                    display: inline-block;
                                    cursor: pointer;
                                }
                                
                                .testimonial ul li.active,
                                .testimonial ul li:hover {
                                    background-color: #2DCC70;
                                }
                                /* end my testimonial */
                                /* Start portfolio */
                                
                                .portfolio {
                                    padding-top: 50px;
                                    padding-bottom: 70px;
                                }
                                
                                .portfolio h2 {
                                    color: #777;
                                    text-align: center;
                                }
                                
                                .portfolio p {
                                    color: #666;
                                    line-height: 1.7;
                                    margin-bottom: 30px;
                                    text-align: center;
                                }
                                
                                .portfolio .our-work {
                                    overflow: hidden;
                                    text-align: center;
                                }
                                
                                .portfolio .our-work>div {
                                    float: left;
                                    Width: 33.333333%;
                                    margin-bottom: 10px;
                                }
                                
                                .portfolio .our-work>div img {
                                    width: 92%;
                                    margin: 10px;
                                    padding: 3px;
                                    background-color: #FFF;
                                    border: 1px solid #CCC;
                                    box-shadow: 10px 10px 12px #CCC;
                                }
                                /* End portfolio */
                                /* Start Contact Me */
                                
                                .contact {
                                    background-color: #252F31;
                                    overflow: hidden;
                                    padding-top: 50px;
                                    padding-bottom: 70px;
                                }
                                
                                .contact .info {
                                    width: 50%;
                                    float: left;
                                    margin-left: 5%;
                                }
                                
                                .contact h2 {
                                    color: #FFF;
                                    margin-left: 40px;
                                }
                                
                                .contact p {
                                    color: #6A6E71;
                                    margin-left: 40px;
                                    line-height: 1.7;
                                }
                                
                                .contact .form {
                                    width: 45%;
                                    float: left;
                                }
                                
                                .contact .info address {
                                    color: #FFF;
                                    margin-left: 40px;
                                }
                                
                                .contact .info p:last-of-type {
                                    color: #FFF;
                                }
                                
                                .contact .form label {
                                    display: block;
                                    color: #D1D6DA;
                                    margin: 10px 0;
                                }
                                
                                .contact .form input[type="text"] {
                                    background-color: #4B5557;
                                    color: #FFF;
                                    padding: 10px;
                                    border: 0;
                                    width: 80%;
                                    margin-bottom: 10px;
                                }
                                
                                .contact .form textarea {
                                    background-color: #4B5557;
                                    color: #FFF;
                                    padding: 10px;
                                    border: 0;
                                    width: 80%;
                                    margin-bottom: 10px;
                                    height: 300px;
                                }
                                
                                .contact .form input[type="submit"] {
                                    background-color: #191E22;
                                    color: #FFF;
                                    padding: 10px 20px;
                                    border: 0;
                                    margin-top: 10px;
                                }
                                /*End Contact Me  */
                                /* Start footer */
                                
                                .footer {
                                    background-color: #191E22;
                                    color: #6A6E71;
                                    padding: 20px 0;
                                    text-align: center;
                                }
                                
                                .footer span {
                                    display: block;
                                }
                                
                                .footer ul {
                                    list-style: none;
                                }
                                
                                .footer ul li {
                                    display: inline;
                                }
                                
                                .footer ul li:hover {
                                    color: #FFF;
                                }
                                /* end footer */
                                /* start my framework */
                                
                                .my-button {
                                    background: none;
                                    border: 3px solid #2DCC70;
                                    color: #666;
                                    padding: 5px 15px;
                                    font-weight: bold;
                                }
                                /*end css */